<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md" >
        <a href="#" class="navbar-brand">
            <img src="images/logo.png"  class="rounded-sm"  height="60" width="110" alt="We Gather">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fas fa-bars  text-white"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link  text-white ">Home</a>
                <li class="nav-item dropdown " sec:authorize="isAuthenticated()" >
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Raised Project
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/raisedWork">Raised Work</a>
                        <a class="dropdown-item" href="/displayForm">Raised Funds</a>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        Contributors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/displayContributors/{id}">Display your Contributors</a>
                        <a class="dropdown-item" href="/AddContributors">Add Contributors</a>
                    </div>
                </li>

                <!--                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>-->
            </div>
            <div class="navbar-nav ml-auto">

                <a href="/login" class="nav-item nav-link text-white  "  sec:authorize="!isAuthenticated()">Login</a>
                <a href="/signup" class="nav-item nav-link text-white  " sec:authorize="!isAuthenticated()">SignUp</a>
                <a href="/profile" class="nav-item nav-link text-white  " sec:authorize="isAuthenticated()">Your profile</a>
                <a href="/contact_info" class="nav-item nav-link text-white  " sec:authorize="isAuthenticated()">Contact Info:</a>
                <a href="/logout" class="nav-item nav-link text-white  " sec:authorize="isAuthenticated()">logout</a>



                <div class="input-group input-group-sm">
                    <span class="input-group-text input-group-sm border-0" id="search-addon"><i class="fas fa-search"></i></span>
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                           aria-describedby="search-addon" />
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
<footer class="footer-bs p-5 mt-5 bg-light">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <h2>We Gather</h2>
            <p>This website was created to help poor people by collecting donations from users and getting them to those in need.</p>
            <p>© 2021 We Gather project </p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp ">
            <h4>Menu </h4>
            <div class="col-md-6">
                <ul class="pages">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Raise Charity</a></li>
                    <li><a href="#">Profile</a></li>
                    <!-- <li><a href="#">Science</a></li> -->
                    <!-- <li><a href="#">Advice</a></li> -->
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-ns animated fadeInRight">
            <h4>Newsletter</h4>
            <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
            <p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
            </div><!-- /input-group -->
            </p>
        </div>
    </div>
</footer>
</div>
</div>
</body>
</html>