<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<form class="needs-validation" action="/AddRaise" method="post" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Required Amount</label>
      <input type="number" class="form-control" id="validationCustom01" name="RequiredAmount"   required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">topic</label>
      <input type="text" class="form-control" id="validationCustom02" name="topic"   required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>


        <input type="hidden" class="form-control" aria-describedby="inputGroupPrepend" name="userId" th:value="${#authentication.principal.id}" required>


  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03"><span th:text="${#authentication.principal.id}"> id</span></label>
      <input type="text" class="form-control" id="validationCustom03" name="Description" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>


    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Image</label>
      <input type="text" class="form-control" name="image"  required>
      <div class="invalid-feedback">
        Please provide a valid image.
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationCustom05">Start From</label>
      <input type="date" class="form-control" id="validationCustom05" name="StartFrom" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <label for="validationCustom05">EndAt</label>
    <input type="date" class="form-control" id="validationCustomUsername" name="EndAt" required>
    <div class="invalid-feedback">
      Please provide a valid EndAt.
    </div>
  </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>


</body>
</html>