
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/bootstrapFragment :: head" th:remove="tag"></div>

    <link th:rel="stylesheet" th:href="@{/css/raisedWorkView.css}"/>

</head>
<body>
<div class="container">

    <div th:replace="fragments/common :: navbar" th:remove="tag">

    </div>
    <div class="row">
        <h2 class="pt-3 pb-1 col-12" th:text="${raisedFund.topic}">About</h2>
    </div>
    <div class="row">


        <div class="grid-container col-8">

            <div class="bg-white shadow rounded overflow-hidden profile1 card">

                <div class="px-4 pt-0 pb-4 cover">


                    <img class="profile-img image-size" th:src="${raisedFund.images.get(0)}" alt="">

                    <div class="media align-items-end profile-head">

                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">Mark Williams</h4>
                            <p class="small mb-4"><i class="fas fa-map-marker-alt mr-2"></i>New York</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="row align-items-start ">
                            <h5> Start At: <h5 class="font-weight-bold mb-0 d-block"
                                               th:text="${raisedFund.startFrom}"></h5></h5>
                        </li>
                        <li class="row align-items-end">
                            <h5> End At: <h5 class="font-weight-bold mb-0 d-block"
                                             th:text="${raisedFund.endAt}"></h5>
                            </h5>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0">About</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0" th:text="${raisedFund.description}"></p>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="form-card col-4">

            <div class="card card-container">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDonation">
                        Add donation
                    </button>

                    <!-- Modal -->


                    <div class="modal fade" id="addDonation" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">


                                <form action="/donate" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="closeModal">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">


                                        <label for="validationCustom01">Amount PAid</label>
                                        <input type="text" class="form-control" id="validationCustom01"
                                               name="amountPAid" required>


                                        <input type="hidden" th:value="${raisedFund.id}" name="fundRaisedId">
                                        <input type="hidden" th:value="${loggedInUser.id}" name="loggedInUser">


                                        <label for="validationCustom02">Date</label>
                                        <input type="date" class="form-control" id="validationCustom02" name="date"
                                               required>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Donate</button>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>

</div>
<div th:replace="fragments/common :: footer" th:remove="tag"></div>

</body>
<div th:replace="fragments/bootstrapFragment :: BSfragmentScript" th:remove="tag"></div>

</html>