<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<h1>hello there</h1>
<div class="container">
    <img th:src="${raisedFund.images.get(0)}"alt="">
    <h2>topic: <span th:text="${raisedFund.images.get(0)}"/></h2>
    <h2>topic: <span th:text="${raisedFund.topic}"/></h2>
    <h2>description: <span th:text="${raisedFund.description}"/></h2>
    <h2>start From: <span th:text="${raisedFund.startFrom}"/></h2>
    <h2>end At : <span th:text="${raisedFund.endAt}"/></h2>

<!--    <h2>end At : <span th:text="${raisedFund.id}"/></h2>-->
<!--    <h2>end At : <span th:text="${logedraisedFund.id}"/></h2>-->
<!--    <h2>end At : <span th:text="${logedraisedFund.raisedFundname}"/></h2>-->



</div>
<form class="needs-validation" action="/AddContributors" method="post" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Amount PAid</label>
            <input type="text" class="form-control" id="validationCustom01" name="amountPAid" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <input type="hidden" th:value="${raisedFund.id}" name="fundRaisedId">
        <input type="hidden" th:value="${loggedInUser.id}" name="loggedInUser">
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Date</label>
            <input type="date" class="form-control" id="validationCustom02" name="date" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
</body>
</html>