<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bodyclass" th:each="post : ${user.raisedFundProject}">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" th:src="${post.getImages()}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> <h3 th:text="${post.getTopic()}"> </h3></h5>
            <h5 class="card-title"> <h3 th:text="${post.getId()}"> </h3>
        </h5>
        <p class="card-text"><span th:text="${post.getDescription()}"></span></p>
        <a th:href="@{/displayContributors/} + ${post.id}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
</div>
</body>
</html>